@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background: #edecec;
  }

  .slider {
    height: 5px;
    border-radius: 5px;
    background: #ddd;
    position: relative;
  }

  .slider .progress {
    height: 5px;
    border-radius: 5px;
    background: #17a2b8;
    position: absolute;
    left: 25%;
    right: 25%;
  }

  .range-input {
    position: relative;
  }

  .range-input input {
    position: absolute;
    top: -5px;
    height: 5px;
    width: 100%;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
  }

  .range-input input::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    pointer-events: auto;
    -webkit-appearance: none;
    background: #17a2b8;
  }

  .range-input input::-moz-range-thumb {
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    pointer-events: auto;
    -moz-appearance: none;
    background: #17a2b8;
  }
}

#card:hover img {
  @apply scale-125;
}

header nav a.active,
footer .lnk-products a.active {
  @apply text-purple-2;
}

aside nav a.active {
  @apply text-black font-semibold;
}

#navbar-user button:hover~input {
  @apply border border-black bg-white;
}

.deploy-nav div {
  display: none;
}

footer .lnk-products a {
  @apply hover:text-purple-2;
}

.deploy-nav:hover div {
  display: flex;
  flex-direction: column;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  text-align: left;
}

.clip-figure {
  clip-path: polygon(0 0, 80% 0%, 97% 100%, 0% 100%);
  background: url("./assets/HomeImages/bestPrice.webp");
  @apply bg-no-repeat bg-cover;
}

.clip-figure-2 {
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 20% 100%);
  background: url("./assets/HomeImages/sepcial-day-drone.jpg");
  @apply bg-no-repeat bg-cover bg-right;
}

.clip-help {
  clip-path: polygon(100% 0, 100% 100%, 6% 100%, 0 26%, 0 0);
  background: url("./assets/HomeImages/help-center.webp");
  height: 445px;
  @apply bg-no-repeat bg-cover;
}

#container-products {
  display: grid;
  justify-content: center;
  align-items: start;
  gap: 30px;
  grid-template-columns: 240px 960px;
}

#progress-bar input {
  background: none;
}

#progress-bar input::-moz-range-thumb {
  @apply rounded-full bg-slate-700 appearance-none;
}

#copy p {
  @apply hidden;
}

#copy:hover p {
  @apply block;
}

#userOption:hover #myOptions {
  @apply block
}

#userOption #myOptions {
  @apply hidden
}