@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background: #edecec;
  }
}

a.active {
   @apply text-blue-700
}

#navbar-user button:hover~input {
  @apply border border-black bg-white
}

.deploy-nav div {
  display: none;
}

footer > div > div > a {
  @apply hover:text-blue-700
}

.deploy-nav:hover div {
  display: flex;
  flex-direction: column;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  text-align: left;
}

.clip-figure {
  clip-path: polygon(0 0, 80% 0%, 97% 100%, 0% 100%);
  background: url('./assets/HomeImages/bestPrice.webp');
  @apply bg-no-repeat bg-cover
}

.clip-figure-2 {
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 20% 100%);
  background: url('./assets/HomeImages/sepcial-day-drone.webp');
  @apply bg-no-repeat bg-cover bg-right
}

.clip-help {
  clip-path: polygon(100% 0, 100% 100%, 6% 100%, 0 26%, 0 0);
  background: url('./assets/HomeImages/help-center.webp');
  height: 445px;
  @apply bg-no-repeat bg-cover
}

#container-products {
  display: grid;
  justify-content: center;
  align-items: start;
  gap: 30px;
  grid-template-columns: 240px 960px;
}

#progress-bar input {
  background: none;
}
#progress-bar input::-moz-range-thumb {
  @apply rounded-full bg-slate-700 appearance-none
}